<!DOCTYPE HTML>
<html>
<head>
<title>Template.html</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
 
<body>
<br>
<div>
    <form action="/info_recover" method="POST">  
      <p><textarea id="plaintext" type="text" placeholder="Search" name="plaintext"></textarea>
         <input type="submit" value="Search" name="option">
      </p>   
        <!-- <input type="submit" value="Lemma" name="opcion"> --> 
      <p><label for="fname">Results:</label></p>   
      <textarea placeholder="..." name="contenido">
        {% for i in content %}
          {{ i }} 
        {% endfor %}
      </textarea>
    </form>
<div>
</body>
</html>